### Handling imbalanced dataset-

#### Up sampling

In [1]:
# upsampling increases the data points of minority category.

In [3]:
import pandas as pd
import numpy as np

# set the random seed for reproducibility-
np.random.seed(123)               # we do this so that the random sample will remain fixed and not change everytime

# create 2 classes i.e. 2 categories-
n_samples= 1000
class_0_ratio= 0.9
n_class_0= int(n_samples * class_0_ratio)
n_class_1= n_samples- n_class_0

n_class_0, n_class_1

(900, 100)

In [4]:
# create dataframe with imbalanced dataset-

class_0= pd.DataFrame({"feature_1": np.random.normal(loc=0, scale=1, size= n_class_0),
                       "feature_2": np.random.normal(loc=0, scale=1, size= n_class_0),
                       "target": [0]*n_class_0})

class_1= pd.DataFrame({"feature_1": np.random.normal(loc=2, scale=1, size= n_class_1),
                       "feature_2": np.random.normal(loc=2, scale=1, size= n_class_1),
                       "target": [1]*n_class_1})

df= pd.concat([class_0, class_1]).reset_index(drop= True)

In [5]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [6]:
df["target"].value_counts()

0    900
1    100
Name: target, dtype: int64

In [7]:
# now we perform upsampling-

In [9]:
df_minority= df[df["target"]==1]
df_majority= df[df["target"]==0]

In [8]:
from sklearn.utils import resample 
# the function of resample is that it extrapolates the data points and makes the no. of minority data points and majority data points equal.

In [12]:
df_minority_upsampled= resample(df_minority, replace=True, n_samples= len(df_majority), random_state= 42)

In [13]:
df_minority_upsampled

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]

In [14]:
df_minority_upsampled.shape

(900, 3)

In [15]:
df_upsampled= pd.concat([df_majority, df_minority_upsampled])

In [16]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [17]:
df_upsampled["target"].value_counts()

0    900
1    900
Name: target, dtype: int64

#### Down sampling

In [18]:
# down sampling decreases the data points of majority category

In [19]:
import pandas as pd
import numpy as np

# setting the random seed for reproducibility-
np.random.seed(123)

# creating 2 classes i.e. 2 categories-
n_samples= 1000
class_0_ratio= 0.9
n_class_0= int(n_samples* class_0_ratio)
n_class_1= n_samples- n_class_0

n_class_0, n_class_1

(900, 100)

In [20]:
# creating dataframes with imbalanced dataset-

class_0= pd.DataFrame({"feature_1": np.random.normal(loc=0, scale=1, size= n_class_0),
                       "feature_2": np.random.normal(loc=0, scale=1, size= n_class_0),
                       "target": [0]*n_class_0})

class_1= pd.DataFrame({"feature_1": np.random.normal(loc=2, scale=1, size= n_class_1),
                       "feature_2": np.random.normal(loc=2, scale=1, size= n_class_1),
                       "target": [1]*n_class_1})

df= pd.concat([class_0, class_1]).reset_index(drop=True)

In [21]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [22]:
df["target"].value_counts()

0    900
1    100
Name: target, dtype: int64

In [23]:
# now we perform down sampling-

In [24]:
df_majority= df[df["target"]==0]
df_minority= df[df["target"]==1]

In [26]:
from sklearn.utils import resample

In [27]:
df_majority_downsampled= resample(df_majority, replace=False, n_samples= len(df_minority), random_state=42)

In [28]:
df_majority_downsampled

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[100 rows x 3 columns]

In [29]:
df_majority_downsampled.shape

(100, 3)

In [30]:
df_downsampled= pd.concat([df_majority_downsampled, df_minority])

In [31]:
df_downsampled

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[200 rows x 3 columns]

In [32]:
df_downsampled["target"].value_counts()

0    100
1    100
Name: target, dtype: int64

In [33]:
# downsampling is bad because we are losing data points, so go for upsampling