#### Measures of central tendency

In [1]:
# Mean(average)-
age= [12,13,14,21,24]

In [2]:
(12+13+14+21+24)/5

16.8

In [3]:
import numpy as np
np.mean(age)           # mean is inbuilt function of numpy, an iterable is passed as argument and it finds its average

16.8

In [4]:
weights=[45,34,55,76,45,35,89,98,75]

In [5]:
np.mean(weights)

61.333333333333336

In [6]:
# adding outlier to weights dataset-
weights=[45,34,55,76,45,35,89,98,75,1000]
np.mean(weights)

155.2

In [7]:
# so the mean drasticaly shifts from 61.33 to 155.2, thus we should find median and use it as a measure of central tendency in case of outliers

In [8]:
# Median-
np.median(weights)

65.0

In [9]:
# Mode-
from scipy import stats          # numpy doesn't support mode so we use stats module of scipy
stats.mode(weights)

/tmp/ipykernel_84/2632010800.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weights)

ModeResult(mode=array([45]), count=array([2]))

#### Measures of Dispersion

In [10]:
# variance-
age_lst= [23,43,23,56,74,32,68,98,45,32]

In [13]:
import numpy as np
mean= np.mean(age_lst)
mean

49.4

In [15]:
var= np.var(age_lst)
var

541.64

In [16]:
# standard deviation-
np.std(age_lst)

23.273160507331188

In [17]:
np.sqrt(var)

23.273160507331188

In [18]:
# performing these operations in pandas-
import pandas as pd

In [19]:
data= [[10,12,13], [34,23,45], [32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [20]:
df= pd.DataFrame(data, columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [22]:
df.var()         # by default axis is column, here axis=0, variance is calculated column wise

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [23]:
# to get variance row wise-
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

#### Covariance and Correlation

In [1]:
import seaborn as sns

In [2]:
df= sns.load_dataset("healthexp")
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [3]:
# Covariance-

df.cov()       # it will calculate the covariance of all numerical data

/tmp/ipykernel_84/1057545540.py:3: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()       # it will calculate the covariance of all numerical data

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [4]:
# The covariance of Spending_USD and Life_Expectancy has high positive value. 
# It shows that with increase in Spending_USD, Life_expectancy also increases.

In [7]:
# Spaerman rank correlation-

df.corr(method="spearman")         # it will calculate correlation of all numerical data

/tmp/ipykernel_84/3379761577.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method="spearman")         # it will calculate correlation of all numerical data

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [6]:
# the correlation between Spending_USD and Life_Expectancy is 0.747 which is high positive correlation

In [8]:
# Pearson Correlation-

df.corr(method="pearson")     # this is the default method of corr()

/tmp/ipykernel_84/1857299479.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method="pearson")     # this is the default method of corr()

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [9]:
# the correlation between Life_Expectancy and Spending_USD is 0.579 which is positive correlation

In [10]:
df1= sns.load_dataset("penguins")
df1.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [11]:
df1.corr()

/tmp/ipykernel_84/473017434.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [12]:
# negative correlation indicates that when one increases other decreases.