In [1]:
print("hello world")

hello world

In [2]:
print(123)

123

In [3]:
age=24
print("my age is:", age)

my age is: 24

In [4]:
print("my age is {age}")

my age is {age}

In [7]:
#f string
print(f"my age is: {age}")

my age is: 24

In [8]:
#format
name= "bhavna"
age= 24
print("my name is {} and age is {}".format(name,age))

my name is bhavna and age is 24

In [9]:
#placeholder
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is bhavna and age is 24

In [13]:
name= "Bhavna Dora"
age= 24
degree= "M.Sc"
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 24 and i have completed: my degree of M.Sc with the name of Bhavna Dora

In [14]:
#if statements
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [16]:
age=17
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [17]:
input()

 bhavna

'bhavna'

In [18]:
name= input("enter your name")

enter your name bhavna dora

In [19]:
name

'bhavna dora'

In [20]:
age = int(input("enter ypur age"))

enter ypur age 24

In [21]:
age

24

In [23]:
#task-2
age= int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age 24

you are young blood

In [24]:
age= int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("thank you we will let you know")

enter your age 15

thank you we will let you know

In [26]:
#task-3
product_price= int(input("enter product price"))
if product_price > 1000:
    print("product price is:", (product_price-(product_price*0.2)))
else:
    print("product price is:", (product_price-(product_price*0.3)))

enter product price 2000

product price is: 1600.0

In [29]:
product_price= int(input("enter product price"))
if product_price > 3000:
    if product_price==4000:
        print("congrats you get Goa trip")
    print("product price is:{}".format(product_price*0.8))
elif product_price<=3000 and product_price>2000:
    if product_price==2999:
        print("congrats you get additional gift")
    print("product price is:{}".format(product_price*0.7))
elif product_price<=2000 and product_price>=100:
    print("product_price is:{}".format(product_price*0.6))
else:
    print("let's drink tea with krish sir")

enter product price 55

let's drink tea with krish sir

In [30]:
#single statement
val= int(input("enetr number"))
if (val<=999): print("value is less than equal to 999")
else:
    print("go home")

enetr number 999

value is less than equal to 999

## Loops
### While loop
### For loop
### Nested loop
### loop control- break,continue,pass

## While loop

In [47]:
# While loop, you can put else block too
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time for retirement

In [48]:
#ATM with 1000 rs
total_amount= 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money in atm bank people")

1000
900
800
700
600
500
400
300
200
100
put more money in atm bank people

## For loops

In [31]:
lst=["krish",1,2,3,4,"apple","banana"]
type(lst)

list

In [32]:
lst[0]

'krish'

In [33]:
lst[4]

4

In [34]:
lst

['krish', 1, 2, 3, 4, 'apple', 'banana']

In [35]:
for x in lst:
    print(x)

krish
1
2
3
4
apple
banana

In [37]:
fruit_list=["mango","cherry","apple","papaya","banana"]

In [39]:
for a in fruit_list:
    print(a)
    if a=="cherry":
        print("fruit is cherry")

mango
cherry
fruit is cherry
apple
papaya
banana

In [40]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [41]:
fruit[2]

'n'

## Nested loops

In [42]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [43]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [45]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [46]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

## Loop controls- break, continue, pass

In [49]:
fruit_list=["mango","cherry","apple","papaya","banana"]

In [51]:
#break
for i in fruit_list:
    if i=="apple":
        print("fruit is apple")
        break
    print(i)

mango
cherry
fruit is apple

In [52]:
#continue
for i in fruit_list:
    if i =="apple":
        print("fruit is apple")
        continue
    print(i)

mango
cherry
fruit is apple
papaya
banana

In [53]:
#pass
for i in fruit_list:
    if i =="apple":
        print("fruit is apple")
        pass
    print(i)

mango
cherry
fruit is apple
apple
papaya
banana