In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t1= (1,2,3,4,45,45.45,45+7j,"Bhavna",True)

In [4]:
type(t1)

tuple

In [5]:
#Difference between list and tuple- list=[], tuple=()

In [6]:
l=[1,2,3,4]

In [7]:
type(l)

list

In [8]:
t1

(1, 2, 3, 4, 45, 45.45, (45+7j), 'Bhavna', True)

In [9]:
t1[0]

1

In [10]:
t1[7]

'Bhavna'

In [12]:
#reverse
t1[::-1]

(True, 'Bhavna', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [13]:
t1= t1[::-1]

In [14]:
t1

(True, 'Bhavna', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [15]:
t1[0:3]

(True, 'Bhavna', (45+7j))

In [16]:
# to see the inbuilt functions of tuple write the tuple name.(presstabkey) 
# tuple has 2 functions- count and index

In [17]:
t1.count(4)

1

In [18]:
t1.count("abc")

0

In [19]:
t1.index(1)

0

In [20]:
#we should have got 8 but we got 0 because the True which is at index 0 in t1 is stored as 1 by the system

In [21]:
t1.count(True)

2

In [23]:
t1.count(1)

2

In [22]:
# we should have got 1 as True occurs once but we get 2 bec the system has stored 1 as True too

In [24]:
# Immutability- we cannot change the elements inside the tuple

In [25]:
t1[2]

(45+7j)

In [26]:
t1[2]=345

TypeError: 'tuple' object does not support item assignment

In [27]:
l[0]

1

In [28]:
l[0]=100

In [29]:
l

[100, 2, 3, 4]

In [30]:
# Iterate through tuple using loop-
for i in t1:
    print(i)

True
Bhavna
(45+7j)
45.45
45
4
3
2
1

In [31]:
for i in t1:
    print(i, ":", type(i))

True : <class 'bool'>
Bhavna : <class 'str'>
(45+7j) : <class 'complex'>
45.45 : <class 'float'>
45 : <class 'int'>
4 : <class 'int'>
3 : <class 'int'>
2 : <class 'int'>
1 : <class 'int'>

In [32]:
t2=(1,2,3,3,4)

In [33]:
t2*3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [34]:
max(t2)

4

In [35]:
min(t2)

1

In [36]:
# tuples inside tuples
t1=(1,2,32,4)
t2=(4,5,6,8,9)
t3=(t1,t2)

In [37]:
t3

((1, 2, 32, 4), (4, 5, 6, 8, 9))

In [38]:
t3[1][2]

6

In [39]:
#list inside tuples-
t4=((1,2,3,4),[2,19,"hi"])

In [40]:
t4

((1, 2, 3, 4), [2, 19, 'hi'])

In [41]:
del t4

In [42]:
t4

NameError: name 't4' is not defined

In [43]:
# check if an element is available inside tuple-
"Bhavna" in  t1

False

In [44]:
2 in t1

True