#### Functions

In [1]:
def test():

SyntaxError: incomplete input (2690612609.py, line 2)

In [3]:
def test():  
    pass     # here no error because it will completely pass the function

In [4]:
def test1():
    print("this is my first function")

In [5]:
test1()

this is my first function

##### Adavantages of function- increases usability and modularity. Instead of writing a code/logic no. of times, we can keep it inside a function and whenever required we can simply call the function.

In [6]:
test1()+"bhavna"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
# we can't concatenate because print return type is nonetype. 
# But by using return keyword we can perform these primitive operations like concatenation

In [9]:
def test2():
    return "this is my first function with return"

In [11]:
test2() + " bhavna"

'this is my first function with return bhavna'

In [13]:
def test3():
    return 1, 4, "pwskills", 34.56     # we can get multiple returns in the form of tuples

In [14]:
test3()

(1, 4, 'pwskills', 34.56)

In [15]:
# this is similar to-

a= 1,2,3,4,5

In [17]:
a   # a holds multiple data

(1, 2, 3, 4, 5)

In [18]:
a,b,c,d= 1,2,34.56,True

In [19]:
a

1

In [20]:
b

2

In [21]:
c

34.56

In [22]:
d

True

In [23]:
test3()

(1, 4, 'pwskills', 34.56)

In [24]:
test3()[0]

1

In [25]:
test3()[2]

'pwskills'

In [26]:
a,b,c,d= test3()   # we can store the return values in different variables respectively

In [27]:
a

1

In [28]:
b

4

In [29]:
c

'pwskills'

In [30]:
d

34.56

In [31]:
# writing logic inside function-

def test4():
    a= 3*4+5
    return a

In [32]:
test4()

17

In [33]:
type(test4())

int

In [34]:
# passing arguments into function while call-

def test5(a,b):
    c= a+b
    return c

In [38]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [35]:
test5(10,20)

30

In [36]:
test5("hi","bye")

'hibye'

In [37]:
test5([1,2,3],[3,2,1])

[1, 2, 3, 3, 2, 1]

In [39]:
test5(b="bhavna",a="dora")

'dorabhavna'

In [40]:
l=[1,2,3,4,5,"Bhavna","pwskills",[1,2,3,34,45]]

In [43]:
# create a function which will take list as input and give a final list with all numeric values-

def test6(l1):
    n=[]
    for i in l1:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [44]:
test6(l)

[1, 2, 3, 4, 5]

In [47]:
def test7(l2):
    n=[]
    for i in l2:
        if type(i)==int or type(i)==float:
            n.append(i)
        elif type(i)==list:
            for j in i:
                if type(j)==int or typr(j)==float:
                    n.append(j)
                        
    return n

In [48]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]

In [49]:
def test8(a,b,c,d,e):
    pass

In [50]:
test8(1,2,3,4,5)

In [51]:
test8(1,2,3,4,5,6,7)

TypeError: test8() takes 5 positional arguments but 7 were given

In [52]:
# using asterisk * we can give any no. of arguments and we don't have to see the no. of arguments to be taken while calling
# return will come in the form of tuples i.e. args will take all data as a tuple

def test9(*args):
    return args

In [53]:
test9(2)

(2,)

In [54]:
test9(1,2,3,4,5,5)

(1, 2, 3, 4, 5, 5)

In [55]:
test9("dora",[1,2,3,4,5],(1,2,3,4,5))

('dora', [1, 2, 3, 4, 5], (1, 2, 3, 4, 5))

In [56]:
# args is not a keyword, we can write any other variable in place of it. 

def test10(*ab):
    return ab

In [57]:
test10(2,3,4,5)

(2, 3, 4, 5)

In [58]:
def test11(*args,a):
    return args,a

In [59]:
test11(3)

TypeError: test11() missing 1 required keyword-only argument: 'a'

In [60]:
test11(1,2,3,4, a="hi")

((1, 2, 3, 4), 'hi')

In [61]:
# write a function that will take many inputs but return those which are list-

def test12(*args):
    n=[]
    for i in args:
        if type(i)==list:
            n.append(i)
    return n

In [63]:
test12(1,2,3,[1,2,3,4,4],(2,4,5),"bhavna",[4,5],[6,7])    #these many data will go inside args as a tuple

[[1, 2, 3, 4, 4], [4, 5], [6, 7]]

In [66]:
# pass n no. of key:value pairs as argument-

def test13(**kwargs):
    return kwargs   # it will return a dictionary

In [67]:
test13(a=34,b=23,c=[1,2,3,4],d=("sudh","pwskills"))

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('sudh', 'pwskills')}

In [68]:
type(test13())

dict

In [69]:
# write a function to take the above dictionary as input and return the values which are lists-

def test14(**kwargs):
    n=[]
    for i in kwargs.values():
        if type(i)==list:
            n.append(i)
    return n

In [70]:
test14(a=34,b=23,c=[1,2,3,4],d=("sudh","pwskills"))

[[1, 2, 3, 4]]

In [71]:
# write a function to take the above dictionary as input and return the values which are list along with their respective keys

def test15(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i, kwargs[i]

In [72]:
test15(a=34,b=23,c=[1,2,3,4],d=("sudh","pwskills"))

('c', [1, 2, 3, 4])

In [73]:
def test16(*args,**kwargs):
    return args, kwargs     # it will return a tuple containing a tuple and a dictionary

In [74]:
test16(1,2,3,4,a=78,b="bhavna",c=[1,2])

((1, 2, 3, 4), {'a': 78, 'b': 'bhavna', 'c': [1, 2]})