#### Lambda function

In [2]:
# write a function which calculates power

def test(n,p):
    return n**p

test(3,2)

9

In [3]:
test(2,5)

32

In [6]:
# write power function using lambda-

lambda n,p: n**p

In [7]:
a= lambda n,p: n**p   # takes 2 arguments n,p and returns n**p
a(3,2)

9

##### lambda is anonymous function/short hand function. It is used to write functions in 1 line

In [8]:
add= lambda x,y: x+y  # takes 2 arguments x, y and returns x+y
add(10,20)

30

In [9]:
# write lambda function which converts celcius to fahrenheit
c_to_f= lambda temp: (9/5)*temp+32
c_to_f(32)

89.6

In [11]:
# find the maximum out of 2 numbers-
max_no= lambda no1,no2: max(no1,no2)
max_no(10,100)

100

In [13]:
max_no= lambda no1,no2: no1 if no1>no2 else no2
max_no(100,200)

200

In [14]:
# write lambda function to find length of string-
length= lambda s: len(s)
length("pwskills")

8

#### Map function

In [15]:
l=[1,2,3,4,45,5]

In [16]:
# create a list containing squares of each element , using list comprehension-

sq= [ i**2 for i in l]
sq

[1, 4, 9, 16, 2025, 25]

In [17]:
# using normal function-

def squares_func(l1):
    n=[]
    for i in l1:
        n.append(i**2)
    return n

squares_func(l)

[1, 4, 9, 16, 2025, 25]

In [19]:
# using map function-

def sq(x):
    return x**2

map(sq, l)   # it will return a mapper object

In [21]:
list(map(sq, l))  # the elements of the list are mapped to the function one by one by being passed as argument x and square is returned

[1, 4, 9, 16, 2025, 25]

##### Map function takes arguments in this order- first is the function and second is/are the iterable(s) like list,string,tuples. It maps each and every element of the iterable one by one to the function.

In [22]:
# using lambda function inside map function-

list(map(lambda x: x**2, l))

[1, 4, 9, 16, 2025, 25]

In [23]:
list(map(lambda x: x+10, l))

[11, 12, 13, 14, 55, 15]

In [24]:
list(map(lambda x: str(x), l))

['1', '2', '3', '4', '45', '5']

In [25]:
# write a function to add elements of two list index wise-
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

def add_list(l1,l2):
    n=[]
    for i in range(len(l1)):
        n.append(l1[i]+l2[i])
    return n

add_list(l1,l2)

[7, 9, 11, 13, 15]

In [26]:
# using map function

list(map(lambda x,y: x+y, l1,l2))   # here 1st element of l1 and 1st element of l2 are taken as arguments x,y and x+y is returned

[7, 9, 11, 13, 15]

In [27]:
# display a list of all characters of a string after converting them to uppercase 

s="pwskills"
list(map(lambda x: x.upper(), s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

#### Reduce function

In [28]:
# we have to import the reduce function
from functools import reduce

In [29]:
l=[1,2,3,4,5,4]

In [30]:
# find the sum of all elements in list-
def add(l1):
    summation=0
    for i in l1:
        summation+=i
    return summation

add(l)

19

In [31]:
#using reduce function-

reduce(lambda x,y: x+y, l)

19

##### Reduce function collapses the iterable. It takes first argument as function and second argument as iterable like list, string, tuple. Then it keeps on reducing the no. of elements inside the iterable and gives the final result. It is also a shorthand/ one liner function

In [32]:
reduce(lambda x,y,z: x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [33]:
# will it work if we add one more element to the list? 
# The answer is still no because reduce function is built in such a way that it takes 2 arguments only(i.e a pair x,y)

In [34]:
reduce(lambda x,y: x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [36]:
reduce(lambda x,y: x+y, [4])   # this is an exceptional case even with no value for y it gives output

4

In [38]:
# find the minimum element inside list-

reduce(lambda x,y: x if x<y else y,  [1,2,4,1,5])

1

#### Filter function

In [39]:
l

[1, 2, 3, 4, 5, 4]

In [46]:
# filter out even numbers from the above list-

filter(lambda x: x%2==0, l)    # returns a filter object

In [47]:
list(filter(lambda x: x%2==0, l))

[2, 4, 4]

In [48]:
# filter out odd numbers from the list-

list(filter(lambda x: x%2!=0, l))

[1, 3, 5]

In [49]:
l1= [-2,4,5,6,-3,-6,-7]

In [50]:
# filter out the list of positive numbers-

list(filter(lambda x: x>=0, l1))

[4, 5, 6]

In [51]:
# filter out the list of negative numbers-

list(filter(lambda x: x<0, l1))

[-2, -3, -6, -7]

In [52]:
l2= ["banglore","sudh","kumar","krish","pwskiils"]

In [53]:
# filter out those strings whose length is less than 6

list(filter(lambda s: len(s)<6, l2))

['sudh', 'kumar', 'krish']